<script src='../scanner.js'></script>

<script>
    function tryIt () {
        window.QRScanner.initiate({
            match: /^[a-zA-Z0-9]{16,18}$/,
            onResult: function (result) {
              console.info('DONE: ', result);
              document.getElementById("memberno").value = result;
              },
            onError: function (err) { console.error('ERR :::: ', err); },
            onTimeout: function () { console.warn('TIMEDOUT'); },
        });
    }
</script>

<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Search Members
      </h1>
      <%- include ("../partials/messages") %>
      <form action="/dashboard/search" method="POST">
        <div class="form-group">

          <br>
          <div class="input-group mb-3">
            <button class="btn btn-outline-info" value='Scan QR' onclick='tryIt()' type="button" id="button-addon1">Scan QR</button>
            <input type="text" id="memberno"
            name="memberno" class="form-control" value="<%= typeof memberno != 'undefined' ? memberno : '' %>" placeholder="Membership Number" aria-label="Example text with button addon" aria-describedby="button-addon1">
          </div>
          <br>

        <button type="submit" class="btn btn-primary btn-block">
          Search
        </button>
      </form>
      <p class="lead mt-4"> <a href="../dashboard">Back to dashboard</a></p>
    </div>
    <br>
    <br>
    <div class="container d-flex justify-content-center">
      <% if (typeof member != 'undefined'){ %>

        <div class="card" style="width: 22rem;">
        <div class="card-body">
          <h5 class="card-title"><%= member.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted">  <%= member.email %></h6>
          <p class="card-text">Membership number: <%= member.memberno %> </p>
          <img height=250 width=250 src="/<%= member.userImage %>" alt="">





        </div>
      </div>





      <% } %>
    </div>

  </div>
</div>
